
/* html {
    font-size: 62.5%;
}

.title {
    text-align: center;
    border: .1rem solid black;
}

.title h1 {
    font-size: 3rem;
    border: .1rem solid black;
}

.section-one {
    text-align: center;
    border: .1rem solid black;
}

.section-one img {
    width: 40%;
}

.section-two {
    border: .1rem solid black;
    min-width: 620px;
}

.section-two .sub-sections {
    width: 40%;
    border: .1rem solid black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.section-two .sub-sections .sub-section1 {
    border: .1rem solid black;
    width: 120%;
}

.section-two .sub-sections .sub-section1 h3 {
    font-size: 2rem;
}

.section-two .sub-sections .sub-section1 p {
    font-size: 1.5rem;
}

.section-two .sub-sections .sub-section2 {
    border: .1rem solid black;
    width: 160%;
}

.section-two .sub-sections .sub-section2 h3 {
    font-size: 2rem;
}

.section-two .sub-sections .sub-section2 p {
    font-size: 1.5rem;
}

.section-two .sub-sections .sub-section3 {
    border: .1rem solid black;
    width: 120%;
}

.section-two .sub-sections .sub-section3 p {
    font-size: 1.5rem;
}
 */

 /*
 #312614
 #87832F
 #707070
 #fff

 font sizes
h1: 3rem
h2: 1.5rem
body: 1.125rem

layout
max-width: 980px
 */

body {
    font-size: 1.125rem;
    color:  #707070;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color:  #312614;
    text-align: center;
}

span {
    color:  #87832F;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    width: 95%;
}

img {
    width: 100%;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 0;
}

.col {
    padding-right: 2em;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

.col-aside {
    background-color: #312614;;
    color: white;
    padding: .5em;
}


@media (max-width: 620px) {
    .columns {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        width: 100%;
    }
    .col {
        width: 100%;
    }
}