@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background: black;
    color: white;
}

header .container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: .2em 0;
}

header .container .left {
    display: flex;
    margin-left: 1em;
}

header .container .left h1 {
    margin-right: 2em;
    display: flex;
    align-items: center;
}

header .container .left ul {
    display: flex;
    align-items: center;
}

header .container .left ul li,
header .container .right ul li {
    list-style-type: none;
    margin: 1em;
    padding: .7em;
}

header .container ul li:hover {
    background: rgba(255, 255, 255, .2);
    border-radius: 50px;
}

header .container .left ul li a,
header .container .right ul li a {
    color: white;
}

header .container .right ul li a {
    display: flex;
}

header .container .right ul li a div {
    display: flex;
    align-items: center;
    padding-right: .3em;
}

header .container .right ul {
    display: flex;
    align-items: center;
}

header .container .right ul #menu {
    display: none;
}

header .container .right ul .active {
    background: white;
    border-radius: 50px ;
}

header .container .right ul .active a {
    color: black;
}

header .container .right ul .active:hover {
    background: rgba(255, 255, 255, .9);
}

.box-1 {
    height: 50em;
    background: url(./imgs/hero.jpg);
    background-size: cover;
}

.box-1 .container {
    margin: 0 auto;
    max-width: 1400px;
}

.box-1 .request-form {
    margin: 5em 1em;
    background: white;
    height: 40em;
    width: 40%;
    overflow-y: hidden;
}

.box-1 .request-form .icons {
    display: flex;
    justify-content: space-around;
    border-bottom: .1em solid #ccc;
}

.box-1 .request-form .icons .icon {
    width: 150px;
    padding: 2em;
    text-align: center;
    cursor: pointer;
}

.box-1 .request-form .icons .icon span:hover {
    opacity: .7;
}

.box-1 .request-form .icons .ride {
    border-bottom: .3em solid black;
}

.box-1 .request-form .icons .icon ion-icon {
    font-size: 1.5em;
}

.box-1 .request-form h1 {
    margin: 1em;
    font-size: 3.3em;
}

.box-1 .request-form .form {
    margin-top: -3em;
}

.box-1 .request-form .form input {
    width: 80%;
    padding: 1.2em;
    margin: 0 3.5em;
    background: #eee;
    border: none;
    outline: none;
}

.box-1 .request-form .form .dest input {
    margin-top: -2em;
}

.box-1 .request-form .form input::placeholder {
    font-size: 1.3em;
}

.box-1 .request-form .form [type="text"] {
    padding-left: 3em;
}

.box-1 .request-form .form [name="ellipse-outline"],
.box-1 .request-form .form [name="square-outline"] {
    position: relative;
    display: flex;
    align-items: center;
    left: 4em;
    top: 2.1em;
    color: gray;
}

.box-1 .request-form .form [name="square-outline"] {
    top: 1.25em;
}

.box-1 .request-form .form [name="navigate"] {
    position: relative;
    display: flex;
    align-items: center;
    top: -2.1em;
    left: 84%;
    color: gray;
}

.box-1 .request-form .buttons {
    display: flex;
    margin: 1.5em 1.5em 1.5em 2.5em;
    font-size: 1.2em;
}

.box-1 .request-form .buttons .button {
    margin-right: 2em;
    background: #eee;
    padding: 1em;
    border-radius: 10px;
}

.box-1 .request-form .buttons .active {
    background: black;
}

.box-1 .request-form .buttons .button a {
    color: black;
    transition: .5s ease-in-out;
}

.box-1 .request-form .buttons .active a {
    color: white;
}

.box-1 .request-form .buttons .button:hover {
    background: rgba(0, 0, 0, .1);
}

.box-1 .request-form .buttons .active:hover {
    background: rgba(0, 0, 0, .8);
}

.box-2 {
    width: 100%;
    height: 25em;
    background: url(./imgs/banner.jpg);
    background-size: cover;
}

.box-2 .container {
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
}

.box-2 .content {
    margin-top: 4em;
    margin-left: 1em;
    height: 80%;
}

.box-2 .content h1 {
    margin-bottom: 1em;
}

.box-2 .content p {
    margin-bottom: 3em;
    font-size: 1.1em;
}

.box-2 .content a {
    padding: 1em;
    background: black;
    margin-bottom: 2em;
    font-size: 1.2em;
    border-radius: 10px;
    color: white;
}

.box-2 .content a:hover {
    background: rgba(0, 0, 0, .8);
}

.box-3 .container {
    margin: 0 auto;
    max-width: 1400px;
}

.box-3 h1 {
    font-size: 3em;
    margin: 1.5em 0;
}

.box-3 .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.box-3 .grid-container .grid {
    display: grid;
    grid-template-columns: 22% 58% 13%;
    align-items: center;
    gap: 6%;
    margin-bottom: 3em;
    cursor: pointer;
}

.box-3 .grid-container .grid .image {
    width: 130px;
}

.box-3 .grid-container .grid .image img {
    max-width: 100%;
}

.box-3 .grid-container .grid .icon {
    font-size: 2em;
    transition: .5s ease-in-out;
}

.box-3 .grid-container .grid:hover .icon {
    padding-left: .5em;
}

.box-4 .container {
    margin: 0 auto;
    max-width: 1400px;
}

.box-4 h1 {
    margin: 2em 0;
}

.box-4 .flex-container {
    display: flex;
}

.box-4 .flex-container .box {
    width: 50%;
    margin: 0 1em;
}

.box-4 .flex-container .box .image img{
    max-width: 100%;
}

.box-4 .flex-container .box .content h3 {
    margin: .5em 0;
}

.box-4 .flex-container .box .content p {
    margin-bottom: 1em;
}

.box-4 .flex-container .box .links {
    display: flex;
}

.box-4 .flex-container .box .links a {
    text-decoration: underline #bababa 2px;
    text-underline-offset: .35em;
    margin-bottom: 3em;
    color: black;
    position: relative;
}

.box-4 .flex-container .box .links > a {
    margin-right: 1.3em;
}

.box-4 .flex-container .box .links a:after {
    content: "";
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: .3s;
}

.box-4 .flex-container .box .links a:hover:after {
    width: 100%;
}

.box-5 .container {
    margin: 0 auto;
    max-width: 1400px;
}

.box-5 .grid-container {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.box-5 .grid-container .grid {
    margin-right: 2em;
    margin-bottom: 1em;
}

.box-5 .grid-container .grid ion-icon {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: .5em;
}

.box-5 .grid-container .grid p {
    margin-top: .5em;
    margin-bottom: 1.2em;
}

.box-5 .grid-container .grid a {
    color: black;
    text-decoration: underline #bababa 2px;
    text-underline-offset: .35em;
    position: relative;
}

.box-5 .grid-container .grid a::after {
    content: "";
    background: black;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    transition: .3s;
}

.box-5 .grid-container .grid a:hover::after {
    width: 100%;
}

.box-6 {
    background: #eee;
    padding: 4em 0;
}

.box-6 .container {
    margin: 0 auto;
    max-width: 1400px;
}

.box-6 h1 {
    margin-bottom: 2em;
}

.box-6 .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-6 .flex-container .box {
    display: flex;
    align-items: center;
    background: white;
    cursor: pointer;
}

.box-6 .flex-container .box1 {
    margin-right: 2em;
}

.box-6 .flex-container .box1 .scan {
    height: 13em;
    width: 13em;
    background-image: url(./imgs/qrcode1.png);
    background-size: cover;
}

.box-6 .flex-container .box2 .scan {
    height: 13em;
    width: 13em;
    background-image: url(./imgs/qrcode2.png);
    background-size: cover;
}

.box-6 .flex-container .box .scan .app {
    height: 2.5em;
    width: 2.5em;
    background: black;
    margin: 5.2em;
    color: white;
    overflow-y: hidden;
    text-align: center;
    border-radius: 10px;
}

.box-6 .flex-container .box .icon {
    height: 50px;
    width: 50px;
    margin-left: 1em;
    font-size: 2em;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
}

.box-6 .flex-container .box:hover .icon {
    padding-left: .5em;
}

.box-7 .container {
    margin: 0 auto;
    max-width: 1400px;
}

.box-7 .grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    margin: 3em 0;
    margin: 5em 1em;
}

.box-7 .grid-container .signup {
    display: grid;
    grid-template-columns: 80% 16%;
    gap: 4%;
    border-bottom: .1em solid black;
    padding-bottom: 2em;
    cursor: pointer;
    overflow-y: hidden;
}

.box-7 .grid-container .signup .icon {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-7 .grid-container .signup ion-icon {
    font-size: 2.5em;
}

.box-7 .grid-container .signup:hover ion-icon {
    animation: animate .5s ease-in-out;
    opacity: .7;
}

@keyframes animate {
    0% {
        padding: 0;
    }
    50% {
        padding-left: 4em;
    }
    75% {
        padding-right: 4em;
    }
    100% {
        padding: 0;
    }
}

footer {
    background: black;
    color: white;
}

footer h2 {
    margin: 3em 1em;
}

footer p {
    margin: 1em;
    padding-bottom: 2em;
    font-size: 1.1em;
    cursor: pointer;
}

footer p:hover {
    text-decoration: underline white 1px;
    text-underline-offset: 2.3em;
}

footer .container {
    margin: 0 auto;
    max-width: 1400px;
}

footer .grid-container {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

footer .grid-container .grid {
    margin: 1em 0;
}

footer .grid-container .grid h3 {
    margin-bottom: 1em;
}

footer .grid-container .grid ul li {
    margin-bottom: 1em;
}

footer .grid-container .grid ul li a {
    color: white;
}

footer .grid-container .grid ul li a:hover {
    opacity: .5
}

footer .line {
    display: flex;
    justify-content: space-between;
}

footer .line .social-media {
    display: flex;
    margin: .5em;
    font-size: 1.5em;
}

footer .line .social-media ion-icon {
    margin-right: 2em;
    cursor: pointer;
    padding: .5em;
    border-radius: 10px;
}

footer .line .social-media ion-icon:hover {
    background: rgba(255, 255, 255, .2);
}

footer .line .end {
    display: flex;
    align-items: center;
}

footer .line .end > div {
    cursor: pointer;
    padding: .5em;
    border-radius: 10px;
}

footer .line .end > div:hover {
    background: rgba(255, 255, 255, .2);
}

footer .line .end .lang {
    margin-right: 2em;
}

footer .store {
    margin-top: 2em;
    display: flex;
    margin-left: 1em;
}

footer .store .image {
    width: 180px;
    height: 80px;
    margin-right: 1em;
    cursor: pointer;
}

footer .store .image img {
    max-width: 100%;
    border: .1em solid white;
    border-radius: 10px;
}

footer .store .img1 img {
    padding-bottom: .25em;
}

footer .copy-right {
    margin: 4em 0;
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
    opacity: .5;
}

footer .copy-right .end ul {
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer .copy-right .end ul li {
    padding-left: 2em;
    margin: .5em;
}

footer .copy-right .end ul li:hover {
    opacity: .6;
}













@media (max-width:1150px) {
    header .container .left ul {
        display: none;
    }

    header .container .right ul #menu {
        display: initial;
    }

    header .container .right ul .lang,
    header .container .right ul .prod {
        display: none;
    }

    .box-1 {
        background: none;
        height: 52em;
    }

    .box-1 .request-form {
        width: 100%;
        margin: 0;
    }

    .box-1 .request-form .form input {
        width: 97%;
        padding: 1em;
        margin: 0 1em;
    }

    .box-1 .request-form .form [name="ellipse-outline"],
    .box-1 .request-form .form [name="square-outline"] {
        left: 1.5em;
        top: 1.9em;
    }

    .box-1 .request-form .form [name="square-outline"] {
        top: 1.22em;
    }

    .box-1 .request-form .form [name="navigate"] {
        top: -2em;
        left: 95%;
    }

    .box-1 .hero-bottom {
        height: 19em;
        background: url(./imgs/hero-bottom.jpg);
        background-size: cover;
        margin-top: -7em;
    }

    .box-3 .container .grid-container {
        display: block;
    }

    .box-3 .container .grid-container .grid {
        margin: 2em 1em;
        grid-template-columns: 12% 72% 10%;
    }
    
    .box-3 .container .grid-container .grid .image {
        width: 80px;
    }

    .box-4 .flex-container .box .links > a {
        margin-bottom: .5em;
    }

    .box-4 .flex-container .box .links {
        flex-wrap: wrap;
    }

    .box-5 .grid-container {
        overflow-y: hidden;
    }

    .box-6 {
        background: white;
        margin-top: -3em;
    }

    .box-6 h1 {
        font-size: 2em;
        margin-bottom: -0.5em;
        margin-left: 1em;
    }

    .box-6 .flex-container {
        flex-direction: column;
        margin: 1em;
    }

    .box-6 .flex-container .box {
        width: 100%;
        height: 8em;
        border: .1em solid #eee;
        overflow-y: hidden;
    }

    .box-6 .flex-container .box .icon {
        position: absolute;
        right: 0;
    }

    .box-6 .flex-container .box2 .icon {
        right: 1em;
    }

    .box-6 .flex-container .box .content {
        margin-left: -4em;
    }

    .box-6 .flex-container .box .content p {
        display: none;
    }

    .box-6 .flex-container .box1 .icon {
        right: 1em;
    }

    .box-6 .flex-container .box .scan {
        background: none;
    }

    .box-6 .flex-container .box .scan .app {
        height: 5em;
        width: 5em;
        margin: 3em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }

    .box-6 .flex-container .box1 {
        margin: 2em;
    }

    footer .line {
        flex-direction: column;
    }

    footer .line .end {
        margin-left: .7em;
    }

    footer .copy-right {
        flex-direction: column;
    }

    footer .copy-right .end ul {
        margin-top: 3em;
    }

    footer .copy-right .end ul li {
        padding-left: 0;
        padding-right: 2em;
    }
}

@media (max-width: 730px) {
    
    .box-4 h1 {
        font-size: 1.5em;
        margin: 1em;
    }

    .box-4 .flex-container {
        flex-direction: column;
    }

    .box-4 .flex-container .box {
        width: 100%;
    }

    .box-4 .flex-container .box .content {
        font-size: .75em;
    }
    
    .box-4 .flex-container .box .links a {
        font-size: .75em;
    }
    
    .box-4 .flex-container .box .links > a {
        margin-right: 1.3em;
    }
}

@media (max-width: 610px) {
    header {
        font-size: .8em;
    }

    header .container .right ul li {
        margin: .3em;
    }

    .box-1 {
        font-size: 1em;
    }

    .box-1 .request-form h1 {
        font-size: 1.7em;
        margin-bottom: 2em;
    }

    .box-1 .request-form .icons .icon {
        width: 100%;
        padding: 1em;
    }

    .box-1 .request-form .form input::placeholder {
        font-size: 1em;
    }

    .box-1 .request-form .buttons {
        flex-direction: column;
        margin: 1em;
        text-align: center;
    }

    .box-1 .request-form .buttons .button {
        width: 100%;
        padding: 1em;
        font-size: .8em;
    }

    .box-1 .request-form .buttons .active {
        margin-bottom: 1em;
    }

    .box-2 {
        font-size: .7em;
    }

    .box-3 h1 {
        margin-left: 1em;
        margin-bottom: .7em;
        font-size: 1.5em;
    }

    .box-3 .container .grid-container .grid {
        grid-template-columns: 20% 58% 8%;
    }
    
    .box-3 .container .grid-container .grid .image {
        width: 70px;
    }

    .box-3 .container .grid-container .grid .content {
        font-size: .8em;
    }

    .box-5 .grid-container .grid {
        margin-bottom: -1em;
    }

    .box-6 h1 {
        font-size: 1.5em;
    }

    .box-6 .flex-container {
        font-size: .7em;
    }

    .box-6 .flex-container .icon {
        font-size: 1em;
    }

    .box-7 {
        margin-top: -5em;
    }

    .box-7 .grid-container {
        font-size: .8em;
        grid-template-columns: 100%;
    }

    .box-7 .grid-container .signup {
        margin-bottom: 2em;
    }
}

@media (max-width: 500px) {
    footer .line .social-media {
        font-size: 1.2em;
    }
    
    footer .line .social-media ion-icon {
        margin-right: 1em;
    }
}

@media (max-width: 400px) {
    .box-6 .flex-container {
        font-size: .5em;
    }

    .box-3 .grid-container .grid .icon {
        font-size: 1.5em;
    }
}

